@using MVC_ASP_pizzeria.Models;
@{
	Layout = "_Layout";
}
@model Pizza
<div class="container">
<div class="row">
<div class="col"></div>
<div class="col-md-4">
<div class="card mx-auto" style="width: 18rem;">
	<div>
	<img src="@Model.Image" width="200" class="card-img-top" alt="pizza">
	</div>
  <div class="card-body">
    <h5 class="card-title">Dettagli</h5>
	<p class="card-text">@Model.Description</p>
  </div>
  <ul class="list-group list-group-flush">
			<li class="list-group-item"><strong>Id:</strong>
				@Model.Id
			</li>
			<li class="list-group-item">
				<strong>Nome:</strong>
				@Model.Name
			</li>
			<li class="list-group-item">
				<strong>Prezzo</strong>
				@Model.Price
			</li>
			<li class="list-group-item">
				<strong>Categoria:</strong>
				@if (Model.Category is not null)
				{
					@Model.Category.Title
				} else
				{
					<text>Nessuna categoria</text>
				}
			</li>
			<li class="list-group-item">
				<strong>Tags:</strong>
				@foreach (Tag tag in Model.Tags)
				{
					<div>
						<label>@tag.Title</label>
					</div>
				}
			</li>

  </ul>
</div>
</div>
<div class="col"></div>
</div>
</div>

